<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>TDD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <h2>¿Qué es el TDD?</h2>
    <div>TDD (Test-driven development o desarrollo dirigido por pruebas) es una metodología de desarrollo de software que consiste en escribir primero los tests y después el código fuente.</div>
    <h2>Ciclo de desarrollo en el TDD</h2>

    <div>Este ciclo se lo conoce como 
      <ion-label color="danger">rojo</ion-label> - 
      <ion-label color="success">verde</ion-label>- 
      <ion-label color="primary">refactor</ion-label>.<br>
    <p><ion-label color="danger">Rojo</ion-label>: hacer que la prueba falle.</p>
    <p><ion-label color="success">Verde</ion-label>: hacer que la prueba pase.</p>
    <p><ion-label color="primary">Refactor</ion-label>: limpieza y mejoras del código desarrollado.</p>

    <app-arrow [pxTopFrom]="escribirTestRects?.bottom" [pxTopTo]="probarFallaRects?.top"
    [pxLeftFrom]="escribirTestRects?.centerWidth" [pxLeftTo]="probarFallaRects?.centerWidth" 
    *ngIf="dimensionesCargadas"></app-arrow>

    <app-arrow [pxTopFrom]="probarFallaRects?.bottom" [pxTopTo]="desarrollarCodigoRects?.top"
    [pxLeftFrom]="probarFallaRects?.centerWidth" [pxLeftTo]="desarrollarCodigoRects?.centerWidth" 
    *ngIf="dimensionesCargadas" texto="Fallan tests"></app-arrow>

    <app-arrow [pxTopFrom]="probarFallaRects?.centerHeight" [pxTopTo]="escribirTestRects?.centerHeight"
    [pxLeftFrom]="probarFallaRects?.right" [pxLeftTo]="escribirTestRects?.right" 
    *ngIf="dimensionesCargadas" texto="Pasan tests"></app-arrow>

    <app-arrow [pxTopFrom]="desarrollarCodigoRects?.bottom" [pxTopTo]="probarExitoRects?.top"
    [pxLeftFrom]="desarrollarCodigoRects?.centerWidth" [pxLeftTo]="probarExitoRects?.centerWidth" 
    *ngIf="dimensionesCargadas"></app-arrow>

    <app-arrow [pxTopFrom]="probarExitoRects?.bottom" [pxTopTo]="refactorizarRects?.top"
    [pxLeftFrom]="probarExitoRects?.centerWidth" [pxLeftTo]="refactorizarRects?.centerWidth" 
    *ngIf="dimensionesCargadas" texto="Pasan tests"></app-arrow>

    <app-arrow [pxTopFrom]="probarExitoRects?.centerHeight" [pxTopTo]="desarrollarCodigoRects?.centerHeight"
    [pxLeftFrom]="probarExitoRects?.right" [pxLeftTo]="desarrollarCodigoRects?.right" 
    *ngIf="dimensionesCargadas" texto="Fallan tests"></app-arrow>
    
    <div id="tdd-cycle">
      <div class="square" #escribirTest>(Re)escribir un test</div>
      <div #probarFalla><app-diamond>Probar que la prueba falle</app-diamond></div>
      <div class="square" #desarrollarCodigo>Desarrollar el código</div>
      <div #probarExito><app-diamond>Correr todos los test</app-diamond></div>
      <div class="square" #refactorizar>Refactorizar</div>
    </div>
  </div>
  <h2>Ventajas de TDD</h2>
  <ul>
    <li>Mejora la calidad del código</li>
    <li>Ayuda a entender mejor el desarrollo</li>
    <li>Es incluso más entendible que una documentación</li>
  </ul>
  <h2>Desventajas del TDD</h2>
  <ul>
    <li>Toma el doble de tiempo desarrollar los tests y el código</li>
    <li>Refactorizar un test resulta más complejo</li>
  </ul>
  </div>
</ion-content>
