:host {
    .diamond-container {
        width: 144px;
        height: 144px;
        display: flex;
        align-items: center;
        justify-content: center;

        .diamond {
            text-align: center;
            width: 100px;
            height: 100px;
            background-color: var(--ion-color-tertiary);
            border-radius: 10px;
            transform: rotate(45deg);
            position: relative;
        
            div {
                transform: rotate(-45deg);
                position: absolute;
                top: 30px;
            }
        }
    }
}
