:host {
    .presentacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90%;
        font-size: 32px;
        font-family: georgia;
        text-align: center;

        ion-label {
            font-style: oblique;
            font-size: 64px;
        }
    }
}